
.cm{
    font-size: 5em;
    font-style: italic;
    
}
img{
    width: 200px;
    float: right;
}
header{
 
    border-bottom: solid;
    background: radial-gradient(blue, orange)
}

.ital{
    font-style: italic;
}
h2{
   color: blueviolet;
   font-style: italic;
}
h3 {
    color: red;
    font-style: italic;
}
.prés{
    padding-top: 2%;
    padding-bottom: 5%;
    font-size: 150%;
    }
   
.flex1{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-bottom: solid;
    font-size: 22px;
    
}
.flex2{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-top: solid;
    font-size: 22px;
}
h2{
    text-decoration: underline;
    
}
h3{
    text-decoration: underline;
    font-style: italic;
    
    
    
}
.name{
   font-size: 30px;
   font-weight: bold; 
}
.xp{
    font-size: 22px;
}
 


